<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <h1>Exemplo do uso do FOR em EJS</h1>
        <% for(let i = 0; i < qtde; i++) { %>  
            <div> <%=i %> </div>
        <% }  %>
        
</body>
</html>