img{
    width: 25%;
    padding-left: 35%;
    padding-top: 20px;
}

.p1{
    background-color: rgb(17, 17, 17) ;
}

.p1 > h1{
    color: white;
    padding-left: 27%;
    font-size:60px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: cornflowerblue;
    padding-left: 43.5%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: white;
    padding-left: 32%;
    font-size:47px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p1 > .lista-ord{
    color: rgb(209, 219, 62);
    margin-top: center;
    margin-left: 40%;
    font-size: 38px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p1 > .lista-semordem{
    color: rgb(209, 219, 62);   
    margin-top: center;
    margin-left: 37%;
    font-size: 38px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol{
    color: cornflowerblue;
    margin-top: center;
    margin-left: 725px;
    font-size: 25px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    color: cornflowerblue;
    margin-top: center;
    margin-left: 710px;
    font-size: 25px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    color: white;
    margin-top: center;
    margin-left: 35%;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.p2{
    background-color: rgb(216, 216, 188);
}

.p2 > h3{
    color: rgb(36, 34, 34);
    padding-left: 18%;
    font-size:47px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p2> .jogadores > h3{
    color: rgb(36, 34, 34);
    padding-left: 18%;
    font-size:47px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jogadores-tabela{
    border: 2;
}