.img-lista{
    width: 20px;
    padding-left: 10px;
}

nav{
    text-align: right;
    background-color: rgb(18, 17, 17);
    width: 100%;
    font-family: sans-serif ;
    padding: 16px;
    
}

nav > a{
    color: white;
    width: 100%;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
    gap: 10px;
}

nav > a:hover{
    color: rgb(35, 85, 139);
}

h2{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
}

h1{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
}

.eu{
    width: 350px;
    height: 350px;
    border-radius: 7%;
    object-fit: cover;
    margin: auto;
    display: block;
} 

.container{
    display: block;
    margin: 0 auto;
}

p{
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-top: 20px;
    font-size: 25px;
    font-family: sans-serif ;
    color: rgb(255, 255, 255);
}

.redesociais{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redesociais > a{
    background-color: azure;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    color: black;
    border-radius: 7px;
}

.redesociais > a:hover{
    background-color: rgb(183, 220, 240);
}

body{
    background-color: rgb(4, 33, 63);
    margin: 0; 
}

ul{
    padding-left: 46%;
    color: white;
    font-size: 20px;
    font-family: sans-serif ;
}

h3{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
    font-size: 30px;
}

ul > img{
    width: 100%;
}

iframe{
    width:250px;
    height: 250px;
}

.gostos{
    margin: 0;
    text-align: center;
}

.eugosto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;
    justify-content: center;
   
}

footer{
    background-color: black;
    font-size: 10px;
    padding: 2px;
    width: 100%;
}

footer > p{
    font-size: 20px;
}

table, td, th{
    border: 1px solid;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.457);
    margin: 0 auto;
    
}

td, th{
    padding: 10px 15px;
    font-family: sans-serif ;
}

table a{
    text-decoration: none;
    color: rgb(243, 243, 243);
    background-color: rgb(111, 43, 237);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

table a:hover{
    background-color: rgb(90, 15, 161);
}

.th-edit{
    padding: 10px 65px;

}   


