.img-lista{
    width: 20px;
    padding-left: 10px;
}

.navbar{
    text-align: center;
    margin: 20px;
    background-color: black;
    width: 100%;
    font-family: sans-serif ;
    
}

.navbar > a{
    color: white;
       width: 120%;
    font-size: 25px;
    margin: 20px;
    
}

h2{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
}

h1{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
}

.eu{
    width: 350px;
    height: 350px;
    margin-left: 41%;
    border-radius: 7%;
    object-fit: cover;
    
}

p{
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-top: 20px;
    font-size: 25px;
    font-family: sans-serif ;
    color: rgb(255, 255, 255);
}

.redesociais{
    padding: 10px;
    padding-left: 20%;
    width: 10px;
    font-family: sans-serif ;
    margin: 10px;
    justify-content: center;
    font-size: 20px;

}

body{
    background-color: rgb(4, 33, 63);
     margin: 0; 
}

ul{
    padding-left: 46%;
    color: white;
    font-size: 20px;
    font-family: sans-serif ;
}

h3{
    text-align: center;
    font-family: sans-serif ;
    color: beige;
    font-size: 30px;
}

ul > img{
    width: 100%;
}

iframe{
    width:250px;
    height: 250px;
}

.gostos{
    margin: 0;
}

.eugosto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    margin: 10px;
    justify-content: center;
   
}